/**
 * @name SkeuoCord (No Brand Color Replacement)
 * @author Marda33
 * @version Auto Update
 * @description A complete skeuomorphic overhaul for Discord.
 * @website https://github.com/Marda33/SkeuoCord
 * @source https://marda33.github.io/SkeuoCord/updates/SkeuoCordBase.css
*/

@import url("https://marda33.github.io/SkeuoCord/updates/SkeuoCordBase.css");
/*replace SkeuoCordBase with SkeuoCord_BGImport to use custom BG image*/

:root {
	/*User Avatar Border Radius Values - change all below to 999px for circle avatars, set back to default values for square avatars*/
	--maskradius: 2px !important; /*default: 2px*/
	--avatarradius: 3px !important; /*default: 3px*/
	--smallavatarradius: 2px !important; /*default: 2px*/
	--medavatarradius: 4px !important; /*default: 4px*/
	--largeavatarradius: 5px !important; /*default: 5px*/
	/*Custom BG - enter the link to the image you want to use as the app background, keep quotes*/
	--bg-image: url('here') center/cover no-repeat !important;
	/*------*/
}

* {
    --brand-100: #f7f7fe !important;
    --brand-130: #f0f1fe !important;
    --brand-160: #e7e9fd !important;
    --brand-200: #dee0fc !important;
    --brand-230: #d4d7fc !important;
    --brand-260: #c9cdfb !important;
    --brand-300: #bcc1fa !important;
    --brand-330: #a8aff8 !important;
    --brand-360: #949cf7 !important;
    --brand-400: #7984f5 !important;
    --brand-430: #707bf4 !important;
    --brand-460: #6571f3 !important;
    --brand: #5865f2 !important;
    --brand-500: #5865f2 !important;
    --brand-530: #505cdc !important;
    --brand-560: #4752c4 !important;
    --brand-600: #3c45a5 !important;
    --brand-630: #343b8f !important;
    --brand-660: #2d347d !important;
    --brand-700: #232861 !important;
    --brand-730: #21265b !important;
    --brand-760: #1e2353 !important;
    --brand-800: #1a1e49 !important;
    --brand-830: #141738 !important;
    --brand-860: #0d0f24 !important;
    --brand-900: #04050c !important;
    --brand-05a: rgba(88,101,242,0.05) !important;
    --brand-10a: rgba(88,101,242,0.1) !important;
    --brand-15a: rgba(88,101,242,0.15) !important;
    --brand-20a: rgba(88,101,242,0.2) !important;
    --brand-25a: rgba(88,101,242,0.25) !important;
    --brand-30a: rgba(88,101,242,0.3) !important;
    --brand-35a: rgba(88,101,242,0.35) !important;
    --brand-40a: rgba(88,101,242,0.4) !important;
    --brand-45a: rgba(88,101,242,0.45) !important;
    --brand-50a: rgba(88,101,242,0.5) !important;
    --brand-55a: rgba(88,101,242,0.55) !important;
    --brand-60a: rgba(88,101,242,0.6) !important;
    --brand-65a: rgba(88,101,242,0.65) !important;
    --brand-70a: rgba(88,101,242,0.7) !important;
    --brand-75a: rgba(88,101,242,0.75) !important;
    --brand-80a: rgba(88,101,242,0.8) !important;
    --brand-85a: rgba(88,101,242,0.85) !important;
    --brand-90a: rgba(88,101,242,0.9) !important;
    --brand-95a: rgba(88,101,242,0.95) !important;
	--control-brand-foreground: #949cf7 !important;
}
/* ---- */
