/**
 * @name SkeuoCord Horizontal Server Fix
 * @author Marda33
 * @version 1 
 * @description Fixes support for Horizontal Server List with the refresh UI
*/

.tree_ef3116 {
	padding-top: 4px !important;
}
.stack_dbd263:not(.wrapper__48112 .stack_dbd263):not(.stack_dbd263 .stack_dbd263) {
	margin-bottom: 12px !important;
}
.listItem__650eb .blobContainer_e5445c {
	margin-left: 18px !important;
}
.tutorialContainer__1f388 .listItem__650eb, .tutorialContainer__650eb .listItem__650eb, .tutorialContainer__650eb + .listItem__650eb {
	margin-left: 8px !important;
}
