@import url("https://marda33.github.io/SkeuoCord/updates/SkeuoCordBase.css");

.theme-dark .layer-86YKbF, .theme-light .layer-86YKbF {
	background: var(--bg-image) !important;
}
.theme-light .container-1eFtFS, .theme-light .wrapper-1_HaEi, .theme-light .scroller-3_YDR2, .theme-light .contentRegionScroller-2_GT_N, .theme-light .perksModal-CLcR1c, .theme-light .scroller-3j5xK2, .theme-light .customScroller-m1-jZn, .theme-light .scroller-RfJjkV, .theme-light .container-3wLKDe, .theme-light .content-1jQy2l [data-list-id="message-requests-list"], .theme-light .directoryModal-YJsOMv, .theme-light .chat-2ZfjoI.container-1um7CU, .theme-light .tabBar-1_P75h + .chat-2ZfjoI, .theme-light .scroller-3X7KbA, .container-1eFtFS, .theme-dark .wrapper-1_HaEi, .scroller-3_YDR2, .contentRegionScroller-2_GT_N, .theme-dark .perksModal-CLcR1c, .theme-dark .scroller-3j5xK2, .theme-dark .customScroller-m1-jZn, .theme-dark .scroller-RfJjkV, .container-3wLKDe, .content-1jQy2l [data-list-id="message-requests-list"], .directoryModal-YJsOMv, .chat-2ZfjoI.container-1um7CU, .tabBar-1_P75h + .chat-2ZfjoI, .scroller-3X7KbA, .wrapper-1_HaEi.guilds-2JjMmN.theme-dark .scroller-3X7KbA, .bg-1QIAus.theme-dark .layers-OrUESM.layers-1YQhyW .layer-86YKbF.baseLayer-W6S8cY .container-1eFtFS .base-2jDfDU .content-1SgpWY, .container-1eFtFS, .privateChannels-oVe7HL, .contentRegion-3HkfJJ, .wrapper-1_HaEi, .sidebar-1tnWFu, .chat-2ZfjoI, .container-2cd8Mz, .standardSidebarView-E9Pc3j {
	background: transparent !important;
}

.theme-light .scroller-3X7KbA, .theme-light .contentRegionScroller-2_GT_N {
	background: linear-gradient(to top, transparent 30%, hsla(45, calc(var(--saturation-factor, 1) * 4.8%), 83.5%, 0.54) 100%) !important;
	background-color: hsla(40, calc(var(--saturation-factor, 1) * 5.7%), 89.6%, 0.54) !important;
	/*main background - light mode*/
}
.scroller-3X7KbA, .theme-light .wrapper-1_HaEi.guilds-2JjMmN.theme-dark .scroller-3X7KbA, .contentRegionScroller-2_GT_N {
	background: linear-gradient(to top, transparent 30%, hsl(210, calc(var(--saturation-factor, 1) * 7.7%), 5.1%, 0.63) 100%) !important;
	background-color: hsl(216, calc(var(--saturation-factor, 1) * 5.7%), 17.1%, 0.63) !important;
	/*main background*/
}

.theme-light .peopleColumn-1wMU14, .theme-light .scroller-29cQFV, .theme-light .scroller-29cQFV, .theme-light .scroller-2XLwLg, .theme-light .scrollerWrapper-i8p1JZ, .theme-light .body-2khErn {
	background: linear-gradient(to top, transparent 13%, hsla(45, calc(var(--saturation-factor, 1) * 4.8%), 83.5%, 0.8) 100%) !important;
	background-color: hsla(60, calc(var(--saturation-factor, 1) * 2.0%), 90.0%, 0.8) !important;
	/*DM list background - light mode*/
}
.theme-dark .peopleColumn-1wMU14, .theme-dark .scroller-29cQFV, .theme-dark .scroller-29cQFV, .theme-dark .scroller-2XLwLg, .scrollerWrapper-i8p1JZ, .theme-dark .body-2khErn {
	background: linear-gradient(to top, transparent 35%, hsla(210, calc(var(--saturation-factor, 1) * 7.7%), 5.1%, 0.9) 100%) !important;
	background-color: hsla(216, calc(var(--saturation-factor, 1) * 5.7%), 17.1%, 0.9) !important;
	/*DM list background*/
}

.theme-light .chatContent-3KubbW {
	background: linear-gradient(to top, transparent 35%, hsla(30, calc(var(--saturation-factor, 1) * 3.4%), 88.6%, 0.84) 100%) !important;
	background-color: hsla(40, calc(var(--saturation-factor, 1) * 7.7%), 77.1%, 0.84) !important;
	/*chat background - light mode*/
}
.theme-dark .chatContent-3KubbW {
	background: linear-gradient(to top, transparent 35%, hsla(220, calc(var(--saturation-factor, 1) * 7.7%), 22.9%, 0.9) 100%) !important;
	background-color: hsla(210, calc(var(--saturation-factor, 1) * 3.4%), 11.4%, 0.9) !important;
}

.theme-dark .container-1NXEtd, .sidebar-1tnWFu.theme-dark .container-1NXEtd, .theme-dark .container-2oNtJn, .scroller-WSmht3, .sidebar-1tnWFu.theme-dark .scroller-WSmht3, .theme-dark .scroller-1JpcIc {
	background: linear-gradient(to top, transparent 40%, hsla(240, calc(var(--saturation-factor, 1) * 3.7%), 10.6%, 0.9) 100%) !important;
	background-color: hsla(225, calc(var(--saturation-factor, 1) * 8.0%), 19.6%, 0.9) !important;
	/*channel column BG - friends tab DM list BG*/	
}
.theme-light .container-1NXEtd, .theme-light .scroller-WSmht3, .theme-light .scroller-1JpcIc {
	background: linear-gradient(to top, transparent 40%, hsla(48, calc(var(--saturation-factor, 1) * 3.4%), 70.8%, 0.8) 100%) !important;
	background-color: hsla(43, calc(var(--saturation-factor, 1) * 8.6%), 84.1%, 0.8) !important;
	/*channel column BG - friends tab DM list BG, light mode*/
}

.theme-dark .sidebarRegionScroller-FXiQOh, .sidebarRegion-1VBisG.theme-dark .sidebarRegionScroller-FXiQOh, .theme-dark .repoHeader-2KfNvH, .header-JUTO-g, .titleContainer-3fPic2, .tabBar-1_P75h {
	background: linear-gradient(to top, transparent 0%, hsla(223, calc(var(--saturation-factor, 1) * 7.5%), 18.2%, 0.8) 100%) !important;
	background-color: hsla(210, calc(var(--saturation-factor, 1) * 4.0%), 9.8%, 0.8) !important;
	box-shadow: inset 0 15px 5px -12px rgba(0,0,0,0.6);
	/*settings sidebar BG*/
}
.theme-light .sidebarRegionScroller-FXiQOh, .theme-light .repoHeader-2KfNvH, .theme-light .header-JUTO-g, .theme-light .titleContainer-3fPic2, .theme-light .tabBar-1_P75h {
	background: linear-gradient(to top, transparent 0%, hsla(43, calc(var(--saturation-factor, 1) * 11.5%), 88.0%, 0.75) 100%) !important;
	background-color: hsla(60, calc(var(--saturation-factor, 1) * 4.3%), 77.1%, 0.75) !important;
	box-shadow: inset 0 15px 5px -14px rgba(64,64,64,0.7);
	/*settings sidebar BG - light mode*/
}

.container-2o3qEW {
	background: linear-gradient(270deg, transparent 72%, hsla(220, calc(var(--saturation-factor, 1) * 4.9%), 12.0%, 0.8) 100%) !important;
	background-color: hsla(225, calc(var(--saturation-factor, 1) * 8.0%), 19.6%, 0.83) !important;
	border-left: 1px solid rgb(92,92,92);
	/*member column BG*/
}
.theme-dark .nowPlayingColumn-1eCBCN, .theme-dark .nowPlayingSidebar-2OFn0o, .scroller-36cuUh, .submitContainer-g72mF-, .container-3XgAHv .chat-1rZYgu, .container-3XgAHv .chat-1-OBC7, .container-3XgAHv .chat-3t9F_n {
	background: linear-gradient(270deg, transparent 80%, hsla(220, calc(var(--saturation-factor, 1) * 4.9%), 12.0%, 0.8) 100%) !important;
	background-color: hsla(225, calc(var(--saturation-factor, 1) * 8.0%), 19.6%, 0.83) !important;
	border-left: 1px solid rgb(92,92,92);
	/*DM list now playing column BG*/
}
.theme-light .container-2o3qEW {
	background: linear-gradient(270deg, transparent 72%, hsla(36, calc(var(--saturation-factor, 1) * 3.0%), 67.3%, 0.7) 100%) !important;
	background-color: hsla(43, calc(var(--saturation-factor, 1) * 9.3%), 85.3%, 0.74) !important;
	border-left: 1px solid rgb(60,60,60);
	/*member column BG - light mode*/
}
.theme-light .nowPlayingColumn-1eCBCN, .theme-light .nowPlayingSidebar-2OFn0o, .theme-light .scroller-36cuUh, .theme-light .submitContainer-g72mF-, .theme-light .container-3XgAHv .chat-1rZYgu, .theme-light .container-3XgAHv .chat-1-OBC7, .theme-light .container-3XgAHv .chat-3t9F_n {
	background: linear-gradient(270deg, transparent 80%, hsla(36, calc(var(--saturation-factor, 1) * 3.0%), 67.3%, 0.7) 100%) !important;
	background-color: hsla(43, calc(var(--saturation-factor, 1) * 9.3%), 85.3%, 0.74) !important;
	border-left: 1px solid rgb(60,60,60);
	/*DM list now playing column BG  - light mode*/
}
