@import url("https://marda33.github.io/SkeuoCord/updates/SkeuoCordBase.css");

:root {
	--maintransp_dark_top: 12,13,14; /*default: 12,13,14*/
	--maintransp_dark_bottom: 41,43,46; /*default: 41,43,46*/
	--maintransp_light_top: 215,214,211; /*default: */
	--maintransp_light_bottom: 230,229,227; /*default: 230,229,227*/
	--chattransp_dark_top: 54,57,63; /*default: 54,57,63*/
	--chattransp_dark_bottom: 41,43,46; /*default: 41,43,46*/
	--chattransp_light_top: 227,226,225; /*default:  227,226,225*/
	--chattransp_light_bottom: 201,198,192; /*default: 201,198,192*/
	--listtransp_dark_top: 26,26,28; /*default: 26,26,28*/
	--listtransp_dark_bottom: 46,48,54; /*default: 46,48,54*/
	--listtransp_light_top: 183,182,178; /*default: 183,182,178*/
	--listtransp_light_bottom: 218,216,211; /*default: 218,216,211*/
	--sidebartransp_dark_top: 43,45,50; /*default: 43,45,50*/
	--sidebartransp_dark_bottom: 24,25,26; /*default: 24,25,26*/
	--sidebartransp_light_top: 228,226,221; /*default: 228,226,221*/
	--sidebartransp_light_bottom: 199,199,194; /*default: 199,199,194*/
}

.theme-dark ._960e4207cea8323e-layer, .theme-light ._960e4207cea8323e-layer {
	background: var(--bg-image) !important;
}
.theme-light ._5e434347c823b592-container, .theme-light .ef3116c2da186559-wrapper, .theme-light .scroller_ff90b2, .theme-light ._23e6b439306f125a-contentRegionScroller, .theme-light ._23e6b439306f125a-customScroller, .theme-light .scroller_a39aa3, .theme-light .f75fb00fb7356cbe-content [data-list-id="message-requests-list"], .theme-light .ef3116c2da186559-scroller, ._5e434347c823b592-container, .theme-dark .ef3116c2da186559-wrapper, .scroller_ff90b2, ._23e6b439306f125a-contentRegionScroller, .theme-dark ._23e6b439306f125a-customScroller, .theme-dark .scroller_a39aa3, .f75fb00fb7356cbe-content [data-list-id="message-requests-list"], .ef3116c2da186559-scroller, .ef3116c2da186559-wrapper._5e434347c823b592-guilds.theme-dark .ef3116c2da186559-scroller, ._960e4207cea8323e-bg.theme-dark ._960e4207cea8323e-layers._160d8e55254637e5-layers ._960e4207cea8323e-layer._960e4207cea8323e-baseLayer ._5e434347c823b592-container ._5e434347c823b592-base ._5e434347c823b592-content, ._5e434347c823b592-container, .e6b7699ce8339e1c-privateChannels, ._23e6b439306f125a-contentRegion, .ef3116c2da186559-wrapper, ._5e434347c823b592-sidebar, .f75fb00fb7356cbe-chat:not(.scrollerContainer_c6b11b):not(.container_c2efea):not(.f75fb00fb7356cbe-chat._7449fa59699cedd9-background), .theme-light .f75fb00fb7356cbe-chat:not(.scrollerContainer_c6b11b):not(.container_c2efea):not(.f75fb00fb7356cbe-chat._7449fa59699cedd9-background), ._133bf5eea8e33a34-container, ._23e6b439306f125a-standardSidebarView, .c8ffbb79449f399c-membersWrap, ._0b56311ebc6682e2-container, .f75fb00fb7356cbe-chat, ._133bf5eea8e33a34-tabBody, .f07d62e29a48ceee-applicationStore, .c880e89226639033-scroller{
	background: transparent !important;
}

.theme-light .ef3116c2da186559-tree, .theme-light ._23e6b439306f125a-contentRegionScroller, .theme-light ._7449fa59699cedd9-homeContainer, .theme-light .repoScroller_9JnAPs, .theme-light .scrollerContainer_c6b11b, .theme-light .container_c2efea, .theme-light .f75fb00fb7356cbe-chat._7449fa59699cedd9-background, .theme-light .f369dba7416c67f0-container, .theme-light ._496688f04cb26d28-content, .theme-light ._6db1d32c47b6ad72-shop, .theme-light ._0920e02cc8fc7b7b-homeWrapper {
	background: linear-gradient(to top, transparent 30%, rgba(var(--maintransp_light_top), 0.54) 100%) !important;
	background-color: rgba(var(--maintransp_light_bottom), 0.54) !important;
	/*main background - light mode*/
}
.ef3116c2da186559-tree, .theme-light .ef3116c2da186559-wrapper._5e434347c823b592-guilds.theme-dark .ef3116c2da186559-tree, ._23e6b439306f125a-contentRegionScroller, ._7449fa59699cedd9-homeContainer, .repoScroller_9JnAPs, .scrollerContainer_c6b11b, .container_c2efea, .f75fb00fb7356cbe-chat._7449fa59699cedd9-backgroundI, .f369dba7416c67f0-container, ._496688f04cb26d28-content, ._6db1d32c47b6ad72-shop, ._0920e02cc8fc7b7b-homeWrapper {
	background: linear-gradient(to top, transparent 30%, rgba(var(--maintransp_dark_top), 0.63) 100%) !important;
	background-color: rgba(var(--maintransp_dark_bottom), 0.63) !important;
	/*main background*/
}

.theme-light ._133bf5eea8e33a34-peopleColumn, .theme-light .scroller__244e5, .theme-light .scroller__244e5, .theme-light ._5d7c9a81ac5dd074-scroller, .theme-light ._41ed70e52483df6d-pageBody {
	background: linear-gradient(to top, transparent 13%, rgba(var(--listtransp_light_top), 0.8) 100%) !important;
	background-color: rgba(var(--listtransp_light_bottom), 90.0%, 0.8) !important;
	/*DM list background - light mode*/
}
.theme-dark ._133bf5eea8e33a34-peopleColumn, .theme-dark .scroller__244e5, .theme-dark .scroller__244e5, .theme-dark ._5d7c9a81ac5dd074-scroller, .theme-dark ._41ed70e52483df6d-pageBody {
	background: linear-gradient(to top, transparent 35%, rgba(var(--listtransp_dark_top), 0.9) 100%) !important;
	background-color: rgba(var(--listtransp_dark_bottom), 0.9) !important;
	/*DM list background*/
}

.theme-light .f75fb00fb7356cbe-chatContent {
	background: linear-gradient(to top, transparent 35%, rgba(var(--chattransp_light_top), 0.84) 100%) !important;
	background-color: rgba(var(--chattransp_light_bottom), 0.84) !important;
	/*chat background - light mode*/
}
.theme-dark .f75fb00fb7356cbe-chatContent {
	background: linear-gradient(to top, transparent 35%, rgba(var(--chattransp_dark_top), 0.9) 100%) !important;
	background-color: rgba(var(--chattransp_dark_bottom), 0.9) !important;
}

.theme-dark ._2637a2609f343032-container, ._5e434347c823b592-sidebar.theme-dark ._2637a2609f343032-container, .theme-dark .container__33507, ._99e7cad8d4c55236-scroller, ._5e434347c823b592-sidebar.theme-dark ._99e7cad8d4c55236-scroller {
	background: linear-gradient(to top, transparent 40%, rgba(var(--listtransp_dark_top), 0.9) 100%) !important;
	background-color: rgba(var(--listtransp_dark_bottom), 0.9) !important;
	/*channel column BG - friends tab DM list BG*/	
}
.theme-light ._2637a2609f343032-container, .theme-light ._99e7cad8d4c55236-scroller {
	background: linear-gradient(to top, transparent 40%, rgba(var(--listtransp_light_top), 0.8) 100%) !important;
	background-color: rgba(var(--listtransp_light_bottom), 0.8) !important;
	/*channel column BG - friends tab DM list BG, light mode*/
}

.theme-dark ._23e6b439306f125a-sidebarRegionScroller, ._23e6b439306f125a-sidebarRegion.theme-dark ._23e6b439306f125a-sidebarRegionScroller, .theme-dark .repoHeader_2KfNvH, .c6bf1b7af480dfda-header, .e29cd7b93c4f1266-titleContainer {
	background: linear-gradient(to top, transparent 0%, rgba(var(--sidebartransp_dark_top), 0.8) 100%) !important;
	background-color: rgba(var(--sidebartransp_dark_bottom), 0.8) !important;
	/*settings sidebar BG*/
}
.theme-light ._23e6b439306f125a-sidebarRegionScroller, .theme-light .repoHeader_2KfNvH, .theme-light .c6bf1b7af480dfda-header, .theme-light .e29cd7b93c4f1266-titleContainer {
	background: linear-gradient(to top, transparent 0%, rgba(var(--sidebartransp_light_top), 0.75) 100%) !important;
	background-color: rgba(var(--sidebartransp_light_bottom), 0.75) !important;
	/*settings sidebar BG - light mode*/
}

.c8ffbb79449f399c-container, .c8ffbb79449f399c-membersWrap:not(.c8ffbb79449f399c-container .c8ffbb79449f399c-membersWrap) {
	background: linear-gradient(270deg, transparent 72%, rgba(var(--listtransp_dark_top), 0.8) 100%) !important;
	background-color: rgba(var(--listtransp_dark_bottom), 0.83) !important;
	border-left: 1px solid rgb(92,92,92);
	/*member column BG*/
}
.theme-dark ._133bf5eea8e33a34-nowPlayingColumn, ._01ae244280823725-container .fb64c9a451c49797-chat, ._01ae244280823725-container .f02135b221cc85a6-chat, ._01ae244280823725-container .a44415a3320e67de-chat {
	background: linear-gradient(270deg, transparent 80%, rgba(var(--listtransp_dark_top), 0.8) 100%) !important;
	background-color: rgba(var(--listtransp_dark_bottom), 0.83) !important;
	border-left: 1px solid rgb(92,92,92);
	/*DM list now playing column BG*/
}
.theme-light .c8ffbb79449f399c-container, .theme-light .c8ffbb79449f399c-membersWrap:not(.c8ffbb79449f399c-container .c8ffbb79449f399c-membersWrap) {
	background: linear-gradient(270deg, transparent 72%, rgba(var(--listtransp_light_top), 0.7) 100%) !important;
	background-color: rgba(var(--listtransp_light_bottom), 0.74) !important;
	border-left: 1px solid rgb(60,60,60);
	/*member column BG - light mode*/
}
.theme-light ._133bf5eea8e33a34-nowPlayingColumn, .theme-light ._01ae244280823725-container .fb64c9a451c49797-chat, .theme-light ._01ae244280823725-container .f02135b221cc85a6-chat, .theme-light ._01ae244280823725-container .a44415a3320e67de-chat {
	background: linear-gradient(270deg, transparent 80%, rgba(var(--listtransp_light_top), 0.7) 100%) !important;
	background-color: rgba(var(--listtransp_light_bottom), 0.74) !important;
	border-left: 1px solid rgb(60,60,60);
	/*DM list now playing column BG  - light mode*/
}