.ef3116c2da186559-tree, .theme-light .theme-dark .ef3116c2da186559-tree {
	padding-top: 4px !important;
	border-left: 1px solid rgb(92,92,92);
}
.theme-light .ef3116c2da186559-tree {
	border-left: 1px solid rgb(60,60,60);
}
.dbd2630aec71879b-stack:not(._48112cbe77dc5022-folderGroup .dbd2630aec71879b-stack):not(.dbd2630aec71879b-stack .dbd2630aec71879b-stack) {
	margin-bottom: 12px !important;
}
._650eb104245d257b-listItem .e5445cbd3ad226f2-blobContainer {
	margin-left: 0px !important;
}
._1f388bcaa446c0c8-tutorialContainer ._650eb104245d257b-listItem, ._650eb104245d257b-tutorialContainer ._650eb104245d257b-listItem, ._650eb104245d257b-tutorialContainer + ._650eb104245d257b-listItem {
	margin-left: 0px !important;
}
._1f388bcaa446c0c8-tutorialContainer ._1f388bcaa446c0c8-pill {
	margin-left: -8px !important;
}
.ef3116c2da186559-itemsContainer div[style="opacity: 1; height: 40px; transform: scale(1);"] ._650eb104245d257b-listItem .cc5dd25190031396-wrapper {
	margin-left: 8px !important;
}
/*Revert to Old Titlebar*/
.visual-refresh.platform-win .c38106a3f0c3ca76-bar:not(.c38106a3f0c3ca76-systemBar) {
    top: 72px;
}
/*----*/
