.tree_ef3116, .theme-light .theme-dark .tree_ef3116 {
	padding-top: 4px !important;
	border-left: 1px solid rgb(92,92,92);
}
.theme-light .tree_ef3116 {
	border-left: 1px solid rgb(60,60,60);
}
.stack_dbd263:not(.folderGroup__48112 .stack_dbd263):not(.stack_dbd263 .stack_dbd263) {
	margin-bottom: 12px !important;
}
.listItem__650eb .blobContainer_e5445c {
	margin-left: 0px !important;
}
.tutorialContainer__1f388 .listItem__650eb, .tutorialContainer__650eb .listItem__650eb, .tutorialContainer__650eb + .listItem__650eb {
	margin-left: 0px !important;
}
.tutorialContainer__1f388 .pill__1f388 {
	margin-left: -8px !important;
}
.itemsContainer_ef3116 div[style="opacity: 1; height: 40px; transform: scale(1);"] .listItem__650eb .wrapper_cc5dd2 {
	margin-left: 8px !important;
}
/*Revert to Old Titlebar*/
.visual-refresh.platform-win .bar_c38106:not(.systemBar_c38106) {
    top: 72px;
}
/*----*/
