@import url("https://marda33.github.io/SkeuoCord/updates/SkeuoCordBase.css");

.theme-dark .layer_f7d46a, .theme-light .layer_f7d46a {
	background: var(--bg-image) !important;
}
.theme-light .container_d1f8f5, .theme-light .wrapper__216eb, .theme-light .scroller_c92337, .theme-light .contentRegionScroller__9ae20, .theme-light .perksModal-CLcR1c, .theme-light .scroller-3j5xK2, .theme-light .customScroller_b96e1e, .theme-light .scroller__32e73, .theme-light .container-3wLKDe, .theme-light .content__01e65 [data-list-id="message-requests-list"], .theme-light .directoryModal-YJsOMv, .theme-light .scroller_de945b, .container_d1f8f5, .theme-dark .wrapper__216eb, .scroller_c92337, .contentRegionScroller__9ae20, .theme-dark .perksModal-CLcR1c, .theme-dark .scroller-3j5xK2, .theme-dark .customScroller_b96e1e, .theme-dark .scroller__32e73, .container-3wLKDe, .content__01e65 [data-list-id="message-requests-list"], .directoryModal-YJsOMv, .scroller_de945b, .wrapper__216eb.guilds__2b93a.theme-dark .scroller_de945b, .bg__12180.theme-dark .layers__1c917.layers_a23c37 .layer_f7d46a.baseLayer__2b890 .container_d1f8f5 .base_c0676e .content__76dcf, .container_d1f8f5, .privateChannels__9b518, .contentRegion__08eba, .wrapper__216eb, .sidebar_e031be, .chat__52833:not(.scrollerContainer_dda72c):not(.container__6b2e5):not(.chat__52833.background__2fff8), .theme-light .chat__52833:not(.scrollerContainer_dda72c):not(.container__6b2e5):not(.chat__52833.background__2fff8), .container_bd15da, .standardSidebarView__12528, .membersWrap__5ca6b, .container__03ec9, .chat__52833 {
	background: transparent !important;
}

.theme-light .scroller_de945b, .theme-light .contentRegionScroller__9ae20, .theme-light .homeContainer_c36871, .theme-light .repoScroller_9JnAPs, .theme-light .container-3wLKDe, .theme-light .scrollerContainer_dda72c, .theme-light .container__6b2e5, .theme-light .chat__52833.background__2fff8, .theme-light .container_b92032, .theme-light .content__3c252 {
	background: linear-gradient(to top, transparent 30%, hsla(45, calc(var(--saturation-factor, 1) * 4.8%), 83.5%, 0.54) 100%) !important;
	background-color: hsla(40, calc(var(--saturation-factor, 1) * 5.7%), 89.6%, 0.54) !important;
	/*main background - light mode*/
}
.scroller_de945b, .theme-light .wrapper__216eb.guilds__2b93a.theme-dark .scroller_de945b, .contentRegionScroller__9ae20, .homeContainer_c36871, .repoScroller_9JnAPs, .container-3wLKDe, .scrollerContainer_dda72c, .container__6b2e5, .chat__52833.background__2fff8I, .container_b92032, .content__3c252 {
	background: linear-gradient(to top, transparent 30%, hsl(210, calc(var(--saturation-factor, 1) * 7.7%), 5.1%, 0.63) 100%) !important;
	background-color: hsl(216, calc(var(--saturation-factor, 1) * 5.7%), 17.1%, 0.63) !important;
	/*main background*/
}

.theme-light .peopleColumn__0c784, .theme-light .scroller__244e5, .theme-light .scroller__244e5, .theme-light .scroller_a9a4b4, .theme-light .scrollerWrapper-i8p1JZ, .theme-light .body-2khErn {
	background: linear-gradient(to top, transparent 13%, hsla(45, calc(var(--saturation-factor, 1) * 4.8%), 83.5%, 0.8) 100%) !important;
	background-color: hsla(60, calc(var(--saturation-factor, 1) * 2.0%), 90.0%, 0.8) !important;
	/*DM list background - light mode*/
}
.theme-dark .peopleColumn__0c784, .theme-dark .scroller__244e5, .theme-dark .scroller__244e5, .theme-dark .scroller_a9a4b4, .scrollerWrapper-i8p1JZ, .theme-dark .body-2khErn {
	background: linear-gradient(to top, transparent 35%, hsla(210, calc(var(--saturation-factor, 1) * 7.7%), 5.1%, 0.9) 100%) !important;
	background-color: hsla(216, calc(var(--saturation-factor, 1) * 5.7%), 17.1%, 0.9) !important;
	/*DM list background*/
}

.theme-light .chatContent_f087cb {
	background: linear-gradient(to top, transparent 35%, hsla(30, calc(var(--saturation-factor, 1) * 3.4%), 88.6%, 0.84) 100%) !important;
	background-color: hsla(40, calc(var(--saturation-factor, 1) * 7.7%), 77.1%, 0.84) !important;
	/*chat background - light mode*/
}
.theme-dark .chatContent_f087cb {
	background: linear-gradient(to top, transparent 35%, hsla(220, calc(var(--saturation-factor, 1) * 7.7%), 22.9%, 0.9) 100%) !important;
	background-color: hsla(210, calc(var(--saturation-factor, 1) * 3.4%), 11.4%, 0.9) !important;
}

.theme-dark .container__7e23c, .sidebar_e031be.theme-dark .container__7e23c, .theme-dark .container__33507, .scroller__89969, .sidebar_e031be.theme-dark .scroller__89969, .theme-dark .scroller-1JpcIc {
	background: linear-gradient(to top, transparent 40%, hsla(240, calc(var(--saturation-factor, 1) * 3.7%), 10.6%, 0.9) 100%) !important;
	background-color: hsla(225, calc(var(--saturation-factor, 1) * 8.0%), 19.6%, 0.9) !important;
	/*channel column BG - friends tab DM list BG*/	
}
.theme-light .container__7e23c, .theme-light .scroller__89969, .theme-light .scroller-1JpcIc {
	background: linear-gradient(to top, transparent 40%, hsla(48, calc(var(--saturation-factor, 1) * 3.4%), 70.8%, 0.8) 100%) !important;
	background-color: hsla(43, calc(var(--saturation-factor, 1) * 8.6%), 84.1%, 0.8) !important;
	/*channel column BG - friends tab DM list BG, light mode*/
}

.theme-dark .sidebarRegionScroller__8113e, .sidebarRegion__36437.theme-dark .sidebarRegionScroller__8113e, .theme-dark .repoHeader_2KfNvH, .header_ee0bd9, .titleContainer_d09261 {
	background: linear-gradient(to top, transparent 0%, hsla(223, calc(var(--saturation-factor, 1) * 7.5%), 18.2%, 0.8) 100%) !important;
	background-color: hsla(210, calc(var(--saturation-factor, 1) * 4.0%), 9.8%, 0.8) !important;
	box-shadow: inset 0 15px 5px -12px rgba(0,0,0,0.6);
	/*settings sidebar BG*/
}
.theme-light .sidebarRegionScroller__8113e, .theme-light .repoHeader_2KfNvH, .theme-light .header_ee0bd9, .theme-light .titleContainer_d09261 {
	background: linear-gradient(to top, transparent 0%, hsla(43, calc(var(--saturation-factor, 1) * 11.5%), 88.0%, 0.75) 100%) !important;
	background-color: hsla(60, calc(var(--saturation-factor, 1) * 4.3%), 77.1%, 0.75) !important;
	box-shadow: inset 0 15px 5px -14px rgba(64,64,64,0.7);
	/*settings sidebar BG - light mode*/
}

.container_f79ab4, .membersWrap__5ca6b:not(.container_f79ab4 .membersWrap__5ca6b) {
	background: linear-gradient(270deg, transparent 72%, hsla(220, calc(var(--saturation-factor, 1) * 4.9%), 12.0%, 0.8) 100%) !important;
	background-color: hsla(225, calc(var(--saturation-factor, 1) * 8.0%), 19.6%, 0.83) !important;
	border-left: 1px solid rgb(92,92,92);
	/*member column BG*/
}
.theme-dark .nowPlayingColumn_b025fe, .theme-dark .nowPlayingSidebar-2OFn0o, .scroller-36cuUh, .submitContainer-g72mF-, .container__694a1 .chat_f9a759, .container__694a1 .chat__1d65d, .container__694a1 .chat_f8f70f {
	background: linear-gradient(270deg, transparent 80%, hsla(220, calc(var(--saturation-factor, 1) * 4.9%), 12.0%, 0.8) 100%) !important;
	background-color: hsla(225, calc(var(--saturation-factor, 1) * 8.0%), 19.6%, 0.83) !important;
	border-left: 1px solid rgb(92,92,92);
	/*DM list now playing column BG*/
}
.theme-light .container_f79ab4, .theme-light .membersWrap__5ca6b:not(.container_f79ab4 .membersWrap__5ca6b) {
	background: linear-gradient(270deg, transparent 72%, hsla(36, calc(var(--saturation-factor, 1) * 3.0%), 67.3%, 0.7) 100%) !important;
	background-color: hsla(43, calc(var(--saturation-factor, 1) * 9.3%), 85.3%, 0.74) !important;
	border-left: 1px solid rgb(60,60,60);
	/*member column BG - light mode*/
}
.theme-light .nowPlayingColumn_b025fe, .theme-light .nowPlayingSidebar-2OFn0o, .theme-light .scroller-36cuUh, .theme-light .submitContainer-g72mF-, .theme-light .container__694a1 .chat_f9a759, .theme-light .container__694a1 .chat__1d65d, .theme-light .container__694a1 .chat_f8f70f {
	background: linear-gradient(270deg, transparent 80%, hsla(36, calc(var(--saturation-factor, 1) * 3.0%), 67.3%, 0.7) 100%) !important;
	background-color: hsla(43, calc(var(--saturation-factor, 1) * 9.3%), 85.3%, 0.74) !important;
	border-left: 1px solid rgb(60,60,60);
	/*DM list now playing column BG  - light mode*/
}