@import url("https://marda33.github.io/SkeuoCord/updates/SkeuoCordBase.css");

.theme-dark .layer__2efaa, .theme-light .layer__2efaa {
	background: var(--bg-image) !important;
}
.theme-light .container__037ed, .theme-light .wrapper_a7e7a8, .theme-light .scroller__52680, .theme-light .contentRegionScroller__86c79, .theme-light .perksModal-CLcR1c, .theme-light .scroller-3j5xK2, .theme-light .customScroller_f72801, .theme-light .scroller_e9501c, .theme-light .container-3wLKDe, .theme-light .content__1a4fe [data-list-id="message-requests-list"], .theme-light .directoryModal-YJsOMv, .theme-light .scroller__3d071, .container__037ed, .theme-dark .wrapper_a7e7a8, .scroller__52680, .contentRegionScroller__86c79, .theme-dark .perksModal-CLcR1c, .theme-dark .scroller-3j5xK2, .theme-dark .customScroller_f72801, .theme-dark .scroller_e9501c, .container-3wLKDe, .content__1a4fe [data-list-id="message-requests-list"], .directoryModal-YJsOMv, .scroller__3d071, .wrapper_a7e7a8.guilds__2b93a.theme-dark .scroller__3d071, .bg__12180.theme-dark .layers__1c917.layers_a23c37 .layer__2efaa.baseLayer__8fda3 .container__037ed .base__3e6af .content__4bf10, .container__037ed, .privateChannels__93473, .contentRegion__0bec1, .wrapper_a7e7a8, .sidebar_ded4b5, .chat__52833:not(.scrollerContainer_bf5dbd):not(.container__7590f):not(.chat__52833.background_cb0a80), .theme-light .chat__52833:not(.scrollerContainer_bf5dbd):not(.container__7590f):not(.chat__52833.background_cb0a80), .container__5c7e7, .standardSidebarView__1129a, .membersWrap__90226, .container__10dc7, .chat__52833 {
	background: transparent !important;
}

.theme-light .scroller__3d071, .theme-light .contentRegionScroller__86c79, .theme-light .homeContainer_a4aa0a, .theme-light .repoScroller-9JnAPs, .theme-light .container-3wLKDe, .theme-light .scrollerContainer_bf5dbd, .theme-light .container__7590f, .theme-light .chat__52833.background_cb0a80 {
	background: linear-gradient(to top, transparent 30%, hsla(45, calc(var(--saturation-factor, 1) * 4.8%), 83.5%, 0.54) 100%) !important;
	background-color: hsla(40, calc(var(--saturation-factor, 1) * 5.7%), 89.6%, 0.54) !important;
	/*main background - light mode*/
}
.scroller__3d071, .theme-light .wrapper_a7e7a8.guilds__2b93a.theme-dark .scroller__3d071, .contentRegionScroller__86c79, .homeContainer_a4aa0a, .repoScroller-9JnAPs, .container-3wLKDe, .scrollerContainer_bf5dbd, .container__7590f, .chat__52833.background_cb0a80I {
	background: linear-gradient(to top, transparent 30%, hsl(210, calc(var(--saturation-factor, 1) * 7.7%), 5.1%, 0.63) 100%) !important;
	background-color: hsl(216, calc(var(--saturation-factor, 1) * 5.7%), 17.1%, 0.63) !important;
	/*main background*/
}

.theme-light .peopleColumn__51df3, .theme-light .scroller__244e5, .theme-light .scroller__244e5, .theme-light .scroller__311cd, .theme-light .scrollerWrapper-i8p1JZ, .theme-light .body-2khErn {
	background: linear-gradient(to top, transparent 13%, hsla(45, calc(var(--saturation-factor, 1) * 4.8%), 83.5%, 0.8) 100%) !important;
	background-color: hsla(60, calc(var(--saturation-factor, 1) * 2.0%), 90.0%, 0.8) !important;
	/*DM list background - light mode*/
}
.theme-dark .peopleColumn__51df3, .theme-dark .scroller__244e5, .theme-dark .scroller__244e5, .theme-dark .scroller__311cd, .scrollerWrapper-i8p1JZ, .theme-dark .body-2khErn {
	background: linear-gradient(to top, transparent 35%, hsla(210, calc(var(--saturation-factor, 1) * 7.7%), 5.1%, 0.9) 100%) !important;
	background-color: hsla(216, calc(var(--saturation-factor, 1) * 5.7%), 17.1%, 0.9) !important;
	/*DM list background*/
}

.theme-light .chatContent__5dca8 {
	background: linear-gradient(to top, transparent 35%, hsla(30, calc(var(--saturation-factor, 1) * 3.4%), 88.6%, 0.84) 100%) !important;
	background-color: hsla(40, calc(var(--saturation-factor, 1) * 7.7%), 77.1%, 0.84) !important;
	/*chat background - light mode*/
}
.theme-dark .chatContent__5dca8 {
	background: linear-gradient(to top, transparent 35%, hsla(220, calc(var(--saturation-factor, 1) * 7.7%), 22.9%, 0.9) 100%) !important;
	background-color: hsla(210, calc(var(--saturation-factor, 1) * 3.4%), 11.4%, 0.9) !important;
}

.theme-dark .container__590e2, .sidebar_ded4b5.theme-dark .container__590e2, .theme-dark .container__7712a, .scroller__4b984, .sidebar_ded4b5.theme-dark .scroller__4b984, .theme-dark .scroller-1JpcIc {
	background: linear-gradient(to top, transparent 40%, hsla(240, calc(var(--saturation-factor, 1) * 3.7%), 10.6%, 0.9) 100%) !important;
	background-color: hsla(225, calc(var(--saturation-factor, 1) * 8.0%), 19.6%, 0.9) !important;
	/*channel column BG - friends tab DM list BG*/	
}
.theme-light .container__590e2, .theme-light .scroller__4b984, .theme-light .scroller-1JpcIc {
	background: linear-gradient(to top, transparent 40%, hsla(48, calc(var(--saturation-factor, 1) * 3.4%), 70.8%, 0.8) 100%) !important;
	background-color: hsla(43, calc(var(--saturation-factor, 1) * 8.6%), 84.1%, 0.8) !important;
	/*channel column BG - friends tab DM list BG, light mode*/
}

.theme-dark .sidebarRegionScroller__1fa7e, .sidebarRegion__60457.theme-dark .sidebarRegionScroller__1fa7e, .theme-dark .repoHeader-2KfNvH, .header__63c59, .titleContainer_e558ff {
	background: linear-gradient(to top, transparent 0%, hsla(223, calc(var(--saturation-factor, 1) * 7.5%), 18.2%, 0.8) 100%) !important;
	background-color: hsla(210, calc(var(--saturation-factor, 1) * 4.0%), 9.8%, 0.8) !important;
	box-shadow: inset 0 15px 5px -12px rgba(0,0,0,0.6);
	/*settings sidebar BG*/
}
.theme-light .sidebarRegionScroller__1fa7e, .theme-light .repoHeader-2KfNvH, .theme-light .header__63c59, .theme-light .titleContainer_e558ff {
	background: linear-gradient(to top, transparent 0%, hsla(43, calc(var(--saturation-factor, 1) * 11.5%), 88.0%, 0.75) 100%) !important;
	background-color: hsla(60, calc(var(--saturation-factor, 1) * 4.3%), 77.1%, 0.75) !important;
	box-shadow: inset 0 15px 5px -14px rgba(64,64,64,0.7);
	/*settings sidebar BG - light mode*/
}

.container_b2ce9c, .membersWrap__90226:not(.container_b2ce9c .membersWrap__90226) {
	background: linear-gradient(270deg, transparent 72%, hsla(220, calc(var(--saturation-factor, 1) * 4.9%), 12.0%, 0.8) 100%) !important;
	background-color: hsla(225, calc(var(--saturation-factor, 1) * 8.0%), 19.6%, 0.83) !important;
	border-left: 1px solid rgb(92,92,92);
	/*member column BG*/
}
.theme-dark .nowPlayingColumn_f5023f, .theme-dark .nowPlayingSidebar-2OFn0o, .scroller-36cuUh, .submitContainer-g72mF-, .container_def45c .chat_f9a759, .container_def45c .chat__1d65d, .container_def45c .chat_f8f70f {
	background: linear-gradient(270deg, transparent 80%, hsla(220, calc(var(--saturation-factor, 1) * 4.9%), 12.0%, 0.8) 100%) !important;
	background-color: hsla(225, calc(var(--saturation-factor, 1) * 8.0%), 19.6%, 0.83) !important;
	border-left: 1px solid rgb(92,92,92);
	/*DM list now playing column BG*/
}
.theme-light .container_b2ce9c, .theme-light .membersWrap__90226:not(.container_b2ce9c .membersWrap__90226) {
	background: linear-gradient(270deg, transparent 72%, hsla(36, calc(var(--saturation-factor, 1) * 3.0%), 67.3%, 0.7) 100%) !important;
	background-color: hsla(43, calc(var(--saturation-factor, 1) * 9.3%), 85.3%, 0.74) !important;
	border-left: 1px solid rgb(60,60,60);
	/*member column BG - light mode*/
}
.theme-light .nowPlayingColumn_f5023f, .theme-light .nowPlayingSidebar-2OFn0o, .theme-light .scroller-36cuUh, .theme-light .submitContainer-g72mF-, .theme-light .container_def45c .chat_f9a759, .theme-light .container_def45c .chat__1d65d, .theme-light .container_def45c .chat_f8f70f {
	background: linear-gradient(270deg, transparent 80%, hsla(36, calc(var(--saturation-factor, 1) * 3.0%), 67.3%, 0.7) 100%) !important;
	background-color: hsla(43, calc(var(--saturation-factor, 1) * 9.3%), 85.3%, 0.74) !important;
	border-left: 1px solid rgb(60,60,60);
	/*DM list now playing column BG  - light mode*/
}