.layer-86YKbF {
	background: var(--bg-image) !important;
}
.container-1eFtFS, .privateChannels-oVe7HL, .contentRegion-3HkfJJ, .wrapper-1_HaEi, .sidebar-1tnWFu, .chat-2ZfjoI, .container-2cd8Mz, .standardSidebarView-E9Pc3j {
	background: transparent !important;
}
.theme-light .scroller-3X7KbA, .theme-light .contentRegionScroller-2_GT_N {
	background: linear-gradient(to top, transparent 30%, hsla(45, calc(var(--saturation-factor, 1) * 4.8%), 83.5%, 0.54) 100%) !important;
	background-color: hsla(40, calc(var(--saturation-factor, 1) * 5.7%), 89.6%, 0.54) !important;
}
.scroller-3X7KbA, .theme-light .wrapper-1_HaEi.guilds-2JjMmN.theme-dark .scroller-3X7KbA, .contentRegionScroller-2_GT_N {
	background: linear-gradient(to top, transparent 30%, hsl(210, calc(var(--saturation-factor, 1) * 7.7%), 5.1%, 0.63) 100%) !important;
	background-color: hsl(216, calc(var(--saturation-factor, 1) * 5.7%), 17.1%, 0.63) !important;
}

.theme-light .peopleColumn-1wMU14, .theme-light .scroller-29cQFV, .theme-light .scroller-29cQFV, .theme-light .scroller-2XLwLg, .theme-light .scrollerWrapper-i8p1JZ, .theme-light .body-2khErn {
	background: linear-gradient(to top, transparent 13%, hsla(45, calc(var(--saturation-factor, 1) * 4.8%), 83.5%, 0.8) 100%);
	background-color: hsla(60, calc(var(--saturation-factor, 1) * 2.0%), 90.0%, 0.8);
}
.peopleColumn-1wMU14, .scroller-29cQFV, .scroller-29cQFV, .scroller-2XLwLg, .scrollerWrapper-i8p1JZ, .body-2khErn {
	background: linear-gradient(to top, transparent 35%, hsla(210, calc(var(--saturation-factor, 1) * 7.7%), 5.1%, 0.9) 100%);
	background-color: hsla(216, calc(var(--saturation-factor, 1) * 5.7%), 17.1%, 0.9);
}

.container-1NXEtd, .theme-light .sidebar-1tnWFu.theme-dark .container-1NXEtd, .scroller-WSmht3, .theme-light .sidebar-1tnWFu.theme-dark .scroller-WSmht3 {
	background: linear-gradient(to top, transparent 40%, hsla(240, calc(var(--saturation-factor, 1) * 3.7%), 10.6%, 0.9) 100%) !important;
	background-color: hsla(225, calc(var(--saturation-factor, 1) * 8.0%), 19.6%, 0.9) !important;
}
.theme-light .container-1NXEtd, .theme-light .scroller-WSmht3 {
	background: linear-gradient(to top, transparent 40%, hsla(48, calc(var(--saturation-factor, 1) * 3.4%), 70.8%, 0.8) 100%) !important;
	background-color: hsla(43, calc(var(--saturation-factor, 1) * 8.6%), 84.1%, 0.8) !important;
}

.chatContent-3KubbW {
	background: linear-gradient(to top, transparent 35%, hsla(220, calc(var(--saturation-factor, 1) * 7.7%), 22.9%, 0.9) 100%);
	background-color: hsla(210, calc(var(--saturation-factor, 1) * 3.4%), 11.4%, 0.9);
}
.theme-light .chat-2ZfjoI, .theme-light .chatContent-3KubbW {
	background: linear-gradient(to top, transparent 35%, hsla(30, calc(var(--saturation-factor, 1) * 3.4%), 88.6%, 0.8) 100%);
	background-color: hsla(40, calc(var(--saturation-factor, 1) * 7.7%), 77.1%, 0.8);
}

.sidebarRegionScroller-FXiQOh, .theme-light .sidebarRegion-1VBisG.theme-dark .sidebarRegionScroller-FXiQOh, .repoHeader-2KfNvH, .header-JUTO-g, .titleContainer-3fPic2, .tabBar-1_P75h.top-K_jibn {
	background: linear-gradient(to top, transparent 0%, hsla(223, calc(var(--saturation-factor, 1) * 7.5%), 18.2%, 0.8) 100%) !important;
	background-color: hsla(210, calc(var(--saturation-factor, 1) * 4.0%), 9.8%, 0.8) !important;
}
.theme-light .sidebarRegionScroller-FXiQOh, .theme-light .repoHeader-2KfNvH, .theme-light .header-JUTO-g, .theme-light .titleContainer-3fPic2, .theme-light .tabBar-1_P75h.top-K_jibn {
	background: linear-gradient(to top, transparent 0%, hsla(43, calc(var(--saturation-factor, 1) * 11.5%), 88.0%, 0.75) 100%) !important;
	background-color: hsla(60, calc(var(--saturation-factor, 1) * 4.3%), 77.1%, 0.75) !important;
}