.app-2rEoOp::after {
	content: "There's an update avaible for SkeuoCord. Download here: https://github.com/Marda33/SkeuoCord";
	height: 32px;
	width: 100%;
	position: absolute;
	top: 0;
	display: block;
	z-index: 999;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAmCAIAAABce7w1AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsEAAA7BAbiRa+0AAACrSURBVEhL7ZQhDgJBDEX7ywk4BEGwIUFxEhQIEhxqr4bAYFAozrQzjKgaA6JPbMLLS+ra2d+Z1XvcG4NHBfCK8T91h1dRzjSQqABgIHpddzElG3KNUQHINRYTpJ6XbUzJBl1ja86ox3mID8im9acgW09eIXU/riObbFogBqnbaRVTsiHXaGpHRwT/fIvDZtnFn6XXUiBn+tBtEqQXb6kgooH8Tne5vok9GbMPQhawsHjsigkAAAAASUVORK5CYII=);
	border-top: 1px solid rgba(114,114,114);
	border-left: 1px solid rgba(114,114,114);
	border-right: 1px solid rgba(114,114,114);
	margin-left: 1px;	
	box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.6);
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	line-height: 32px;
}